.main-body{
    background-color: #f5f5f5;
}
.promotion-container{
    position: relative;
    padding: 0px 0px 32px;
}
.promotion-banners-container{
    display: flex;
    align-items: center;
    background-color: rgba(235, 235, 235, 1);
    height: 317px;
    overflow-x: auto;
    scrollbar-width: none;
    
}
.banner{
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
}
.left-arrow-button{
    position: absolute;
    top: 140px;
    padding: 8px 8px 4px 8px;
    border-radius: 0 6px 6px 0;
    background-color:rgba(0, 0, 0, 0.4);
}
.right-arrow-button{
    position: absolute;
    top: 140px;
    right: 0px;
    padding: 8px 8px 4px 8px;
    border-radius: 6px 0px 0px 6px;
    background-color:rgba(0, 0, 0, 0.4);
}
.details-for-booking-shows{
    max-width: 1240px;
    margin: 0px auto;
}
.details-for-booking-shows-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    color:#333333;
    font-weight: 700;
    font-size: 24px;
    margin: 0px 0px 8px 0px;
}
.see-all{
    justify-content: flex-end;
    color: rgb(220, 53, 88);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}
.detais-for-booking-shows{
    padding-bottom: 32px;
}
.show-details-flex-container{
    display: flex;
    justify-content: space-between;
}
.show-details-flex-box{
    max-width: 222.40px;
}
.show-banner-image{
    width: 100%;
    border-radius: 8px;
}
.about-show{
    display: flex;
    flex-direction: column;
    margin: 4px 0px 0px;
    padding: 4px 0px 0px;
}
.show-titile{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin: 0px 0px 4px;
}
.show-category{
    display: flex;
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 25px;
}
.platform-ad-poster-container{
    display: flex;
}
.platform-ad-poster{
    padding: 48px 0px 48px 0px;
    margin: 0px auto;
}
.poster-image{
    width: 1240px;
}
.event-details-container{
    margin: 0px auto;
    max-width: 1240px;
    padding: 32px 0px 64px;
}
.event-details-grid{
    display: grid;
    grid-template-columns: repeat(4,222.4px);
    gap: 32px;
}
.event-banner{
    width: 100%;
    border-radius: 8px;
}
#premieres-heading-container{
    margin-bottom: 10px;
}
.premire-container{
    background-color: rgb(43, 49, 72);
}
#premieres-heading{
    color: #ffffff;
    margin: 0;
    line-height: 1.43;
}
.premieres-sub-heading{
    font-size: 14px;
    color: #ffffff;
    line-height: 1.43;
}
#premieres-show-titile{
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 4px;
}
#premieres-show-category{
    color: #ffffff;
    font-size: 16px;
}
#premieres-platform-ad-poster{
    padding: 14px 0px 14px 0px;
}
.show-details-for-booking{
    margin-top: 50px;
}
#top-game-sports-container{
    padding-bottom: 32px;
}
.trending-search-container{
    margin: 0px auto;
    max-width: 1240px;
    margin: 0px 63px;
    padding: 0px 0px 24px;
}
.trending-search-flex{
    display: flex;
    flex-wrap: wrap;
}
.trending-movies-box{
    margin-right: 16px;
    margin-top: 16px;
}
.trending-movies-name{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 14px 45px 12px 16px;
}
.movie-name{
    display: flex;
    color: #F84464;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    line-height: 1.25;
    margin: 0px 0px 2px;
}
.category{
    display: flex;
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    line-height: 1.43;
    margin: 0px 0px 0px;
}